@media (max-width: 720px) {
    header{
        max-width: 85vw;
    }
    body {
        width: 85%;
        display: flex;

        .content {
            display: block;
            width: 85vw;

            .MuiTable-root-28 {
                max-width: 100%;
            }
        }
    }
    .customer-bill {
        width: max-content;
        display: block;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding-bottom: 100px;

        &__items {
                width: 100%;
                animation-name: slideUp;
                animation-duration: .5s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;

                .empty {
                    color: getColor($themeColor, light);
                    text-align: center;
                    margin-top: 160px;
                }

                .MuiPaper-root-1 {
                    overflow-x: scroll;
                }
                ::-webkit-scrollbar {
                    width: 2px;
                    height: 3px;
                }
                .payment {
                    background-color: rgba(24, 136, 201, 0.664);
                }
        }
    }
}

@media (min-width: 720px) {
    .customer-bill {
        width: 101%;
        //width: max-content;
        display: grid;
        grid-template-columns: 75% 30%;
        grid-template-rows: 20% alto;
        grid-template-areas: "header header" "list buttons";
        //flex-flow: row wrap;
        //justify-content: flex-start;
        padding-bottom: 100px;

        header {
            grid-area: header ;
        }

        &__actions {
            grid-area: buttons;
            position: fixed;
            top: 235px;
            right: 9vw;
            width: 181px;
            display: flex;
            flex-direction: column;

            button {
                width: 100%;
                margin-bottom: 18px;
            }
        }

        &__items {
                grid-area: list;
                width: 100%;
                animation-name: slideUp;
                animation-duration: .5s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;

                .empty {
                    color: getColor($themeColor, light);
                    text-align: center;
                    margin-top: 160px;
                }
        }

        .payment {
            background-color: rgba(26, 100, 219, 0.582);
        }
    }
}