.customer-bill {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 100px;

    &__actions {
        position: fixed;
        top: 235px;
        right: 9vw;
        width: 181px;
        display: flex;
        flex-direction: column;

        button {
            width: 100%;
            margin-bottom: 18px;
        }
    }

    .empty {
        color: getColor($themeColor, light);
        text-align: center;
        margin-top: 160px;
    }

    &__items {
        width: 75%;
        animation-name: slideUp;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}