.login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: blue($color: #000000);

    .login-fields{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24vh;

        .MuiFormControl-root-1 {
            margin-bottom: 20px;
        }

        button {
            margin: 0 auto;
        }
    }

}