.products {
    padding-bottom: 100px;

    &__list {
        width: 74.5%;
        animation-name: slideUp;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    @include column-form();

    &__form-fields {
        position: fixed;
        top: 220px;
        right: 9vw;
        width: fit-content;
    }
}