@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    margin-top: 500px;
  }
  to {
    margin-top: 5vh;
  }
}
body {
  width: 85%;
  margin: 0 auto;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  font-size: 1em;
}
body a {
  text-decoration: none;
}
body .hide {
  display: none !important;
}
body .upper {
  text-transform: uppercase !important;
}
body .upper input {
  text-transform: uppercase !important;
}
body div[class^=MuiDialogContent] {
  padding-top: 10px;
}
body tr[class*=-selected-], body tr:hover {
  background-color: #d5d5d5 !important;
}

header {
  width: 100%;
  margin: 0;
  padding: 0 0 3vh 0;
  position: sticky;
  top: 0;
  background-color: #eee;
  -moz-box-shadow: 0px 6px 32px 15px #eeeeee;
  box-shadow: 0px 6px 32px 15px #eeeeee;
}
header h2 {
  margin-bottom: 0;
  font-weight: 400;
  animation: fadeIn 1s;
}
header strong {
  color: #f50057;
  font-size: 0.9em;
  font-weight: 300;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

.home .search-customer {
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  align-items: center;
}
.home .search-customer a {
  margin-top: 20px;
  text-decoration: none;
}
.home .search-customer .upper {
  margin-bottom: 20px;
}
.home div:last-child {
  float: right;
}

.customer__form-fields {
  display: flex;
  flex-direction: column;
}
.customer__form-fields div {
  width: 225px;
  margin-bottom: 10px;
}
.customer__form-fields .actions {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.customer__form-fields {
  align-items: center;
  margin-top: 20vh;
}

.customer-bill {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.customer-bill__actions {
  position: fixed;
  top: 235px;
  right: 9vw;
  width: 181px;
  display: flex;
  flex-direction: column;
}
.customer-bill__actions button {
  width: 100%;
  margin-bottom: 18px;
}
.customer-bill .empty {
  color: #a9a9a9;
  text-align: center;
  margin-top: 160px;
}
.customer-bill__items {
  width: 75%;
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.products {
  padding-bottom: 100px;
}
.products__list {
  width: 74.5%;
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.products__form-fields {
  display: flex;
  flex-direction: column;
}
.products__form-fields div {
  width: 225px;
  margin-bottom: 10px;
}
.products__form-fields .actions {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.products__form-fields {
  position: fixed;
  top: 220px;
  right: 9vw;
  width: fit-content;
}

.login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: 0;
}
.login .login-fields {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24vh;
}
.login .login-fields button {
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
